* {
    font-family: 'Lato';
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {

    font-size: 50px;
    text-align: center;
    padding-bottom: 20px;
    padding-top: 10px;
    letter-spacing: 4px;
    word-spacing: 5px;

}

h3 {
    font-size: 25px;
    
}

.skills {
    padding: 0 0 25px 25px;
}

.intro {
    border-style: solid;
    margin: 40px;
    border-color: red;
    padding: 20px;
}

.intro p {
    text-align: justify;
    line-height: 23px;
    font-size: 15px;
}

ul {
    padding: 0 0 25px 40px;
}

.social {
    text-align: center;
    padding-bottom: 20px;
}

.icons {
    text-align: center;
    word-spacing: 10px;
}

a:link {
    text-decoration: none;
}